@import 'utils/colors';
@import 'utils/fonts';

@import 'components/landing';
@import 'components/logo';
@import 'components/title';
@import 'components/recipe';
@import 'components/herb';

html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
