@import 'utils/colors';
@import 'utils/fonts';

@import 'components/landing';
@import 'components/logo';
@import 'components/title';
@import 'components/recipe';
@import 'components/herb';
@import 'components/step-image';
@import 'components/steps-information-title';
@import 'components/instructions-list';
@import 'components/recipe-container';
@import 'components/stepsheader-middleofpage';
@import 'components/slick-slider-content';

html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
