<div class="recipe justify-center flex">
  <div class="recipe-container col col-10 flex flex-column">
    {% for step in cms.steps %}
    <p class="small-font steps-information-title pink bebas">{{ step.name }}</p>
    {% endfor %}
    <div class="border-box flex flex-column items-center justify-around">
      <img class="mx-auto dripping-eye block fit" src="/static/images/dripping-eye.svg"/>
      {% for step in cms.steps %}
      <div class="border steps-information-textimage pb4 flex flex-column">
        <img class="fit mx-auto block" src="{{ step.image.url }}"/>
        <p class="small-font white bebas pt3">{{ step.instructions_title }}</p>
        <ul class="instructions-list xsmall-font white ">
          {% for instruction in step.instructions_form %}
            <li><p class="pt1">{{ instruction.instruction }}</p></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
