<div class="recipe">
  <div class="recipe-container block mx-auto">
    <img class="mx-auto dripping-eye block fit" src="/static/images/dripping-eye.svg"/>
    {% for step in cms.steps %}
      <p class="small-font steps-information-title absolute left-0 top-0 pink bebas">{{ step.name }}</p>
    {% endfor %}
    <div class="slick-slider-content py2 flex justify-center ">
      {% for step in cms.steps %}
      <div class="steps-information-textimage px2 pb3 ">
        <img class="fit" src="{{ step.image.url }}"/>
        <p class="bold small-font white pt3">{{ step.instructions_title }}</p>
        <ul class="xsmall-font white ">
          {% for instruction in step.instructions_form %}
            <li><p class="pt1">{{ instruction.instruction }}</p></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="mx-auto block col col-6 blue-box"></div> -->
  </div>
</div>
