.recipe-container{
  width:70%;
  border: 10px solid white;
  background-color: $blue;
  @media (max-width:40em) {
    border: 7px solid white;
  }
  @media (max-width:24em) {
    border: 5px solid white;
  }
  .dripping-eye{
    transform: translate(-50%, -70%);
    left:50%;
    background-color: $blue;
    padding: 0 140px;
    @media (max-width:58em) {
      padding: 0 100px;
    }
    @media (max-width:40em) {
      transform: translate(-50%, -60%);
      padding: 0 80px;
    }
    @media (max-width:24em) {
      padding: 0 60px;
    }
    img{
      width:100%;
      @media (max-width:58em) {
        width:80%;
      }
      @media (max-width:40em) {
        width:70%;
      }
      @media (max-width:24em) {
        width:60%;
      }
    }
  }
  .bottom-eye{
    height: 10%;
    overflow-y: hidden;
  }
}
