#triangle-right {
  right: -60px;
}
#triangle-left {
  left: -60px;
}

.slick-slider-content{
  height: 100%;
  overflow: scroll;
  .slick-slide {
    outline: none;
    p:not(.bold) {
      color: white;
      font-family: Helvetica Neue, Arial, sans-serif;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 28px;
      padding-top: 10px;
      font-size: 0.9rem;
    }
    opacity: 0.4;
    transition: 600ms opacity ease-in-out;
    &.slick-current {
      opacity: 1;
    }
  }
  .slick-list{
    padding-left: 15%;
    padding-right: 15%;
    img{
      width:100%;
    }
  }
  .steps-information-textimage{
    width:60%;
    z-index:10;
    li{
      padding-top: 1rem;
      list-style-type: decimal;
    }
  }
}
