.stepsheader-middleofpage{
  background: $blue;
  height:14%;
  width:100%;
  min-height: 100px;
  max-height: 250px;
  ul{
    width:100%;
    li{
      &.active{
        color:$pink;
      }
    }
  }
  @media (max-width:58em) {
    height:20%;
  }
  @media (max-width:40em) {
    height:15%;
  }
}
