.steps-information-textimage{
  padding-right:1rem;
  padding-left:1rem;
  @media (max-width:58em) {
    padding-right:0;
    padding-left:0;
  }
  ol{
    font-family: $helvetica;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 1rem;
    @media (max-width:58em) {
      font-size:13px;
    }
    @media (max-width:40em) {
      font-size:11px;
    }
  }
}
