{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div class="landing flex">
  <img class="logo mx-auto block" src="/static/images/logo-white.svg"/>
  <div class="title flex justify-center items-center">
    <p class="white bebas medium-font mx-auto center pb2"> HOW TO MAKE </p>
    <p class="large-font white bebas mx-auto center">  HER<span class='herb'>B</span>AL BUTTER </p>
  </div>
</div>
<div class="stepsheader-middleofpage flex px3 py3 justify-between">
  {% for step in cms.steps %}
    <p class="medium-font white bebas">{{ step.name }}</p>
  {% endfor %}
</div>
{% include "templates/partials/_secondpage.html" %}
{% endblock %}
