@font-face {
  font-family: 'BebasNeueBold';
  src: url('/static/fonts/BebasNeueBold.eot');
  src: url('/static/fonts/BebasNeueBold.woff2') format('woff2'),
       url('/static/fonts/BebasNeueBold.woff') format('woff'),
       url('/static/fonts/BebasNeueBold.ttf') format('truetype'),
       url('/static/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'),
       url('/static/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
$bebas: "BebasNeueBold", sans-serif;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.hevetica{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.uppercase{
  text-transform: uppercase;
}
.bebas{
  font-family: $bebas;
}
.xsmall-font{
  font-size: 15px;
  letter-spacing: 1px;
  @media (max-width:58em) {
    font-size:12px;
  }
  @media (max-width:40em) {
    font-size:10px;
  }
}
.small-font{
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 5px;
  @media (max-width:58em) {
    font-size:15px;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  @media (max-width:40em) {
    font-size:12px;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
}
.medium-font{
  font-size: 55px;
  letter-spacing: 3px;
  word-spacing: 5px;
  @media (max-width:58em) {
    font-size:40px;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  @media (max-width:40em) {
    font-size:30px;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  @media (max-width:28em) {
    font-size:25px;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
}
.large-font{
  font-size: 130px;
  letter-spacing: 5px;
  word-spacing: 6px;
  @media (max-width:58em) {
    font-size:100px;
    letter-spacing: 4px;
    word-spacing: 6px;
  }
  @media (max-width:40em) {
    font-size:70px;
    letter-spacing: 3px;
    word-spacing: 5px;
  }
  @media (max-width:28em) {
    font-size:45px;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}
